$white: #fff;
$grey: #616161;
$light-grey: #ccc;
$light-brown: #bcaaa4;
$blue: #1565c0;
$red: #e53935;
$green: #388e3c;
$shadow-color: rgba(34, 60, 80, 0.2);
$red-gradient: linear-gradient(41deg, rgba(0,0,0,1) 0%, rgba(255,0,0,1) 100%);
$green-gradient: linear-gradient(41deg, rgba(0,0,0,1) 0%, rgba(0,255,0,1) 100%);
$black-gradient: linear-gradient(41deg, rgba(0,0,0,1) 0%, rgba(0,0,255,1) 100%);